/* Custom CSS for the Diviana shiny app */

.card-title { width: 100%; }

.checkbox label > span { font-weight: normal;}
.checkbox label { margin-bottom:0}

.selectize-dropdown {line-height: 1.2em}

.radio label {font-weight: normal !important; margin-bottom:0}
.radio-inline {font-weight: normal !important; margin-bottom:0}
.radio-inline:not(:last-child) { padding-right: 10px; }

/* Custom classes for horizontally aligned & distributed items */
.aligned-row      { display: flex; flex-wrap: nowrap; align-items: center; }
.aligned-row-wide { display: flex; flex-wrap: nowrap; align-items: center; width: 100%; justify-content: space-between; }

.aligned-row .bttn-jelly.bttn-sm {padding-top: 0; padding-bottom: 0;}

.navbar { display: flex; justify-content: space-between; align-items: center; flex-wrap: nowrap; }
.navbar .nav-item {font-size: large; white-space: nowrap}

.modal-title, .modal-footer {width: 100%}
.tab-pane {padding: 0}

/* More compact search field for DT tables*/
.dataTables_filter label, .dataTables_filter input[type='search'] {
 padding:0px 5px; font-size:95%
}

#debugdiv .shiny-input-container {width:fit-content;}
#debugdiv .checkbox {margin:0; line-height:0rem}

.progress.shiny-file-input-progress {display: none !important;}


#dvisummary .info-box-content { line-height: 1;}
#dvisummary { padding: 0;}

.shiny-input-container {margin-bottom: 0;}

.dataTables_empty {
  font-style: italic; font-size: smaller; text-align: left;
}

/* Triangle plots */
.overlay {position: relative;}
.top-right { position: absolute; top:0;  right:0; z-index: 100;}


.modal-content:has(.modal-body.autowide) {
  width: fit-content !important;
  height: fit-content !important;
}

.mutation-inputs .shiny-input-container {
  margin-bottom: 0; /* Less space between rows */
  padding: 2px; /* Less padding inside input fields */
}

.mutation-inputs input[type='number'] {
  height: 24px; /* Smaller field height */
  -moz-appearance: textfield;
  -webkit-appearance: none;
}

.mutation-inputs input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

/* Adjust labels within the custom card class to be closer to inputs */
.mutation-inputs label {
  margin-bottom: 2px;
}


/* Analysis tab -----------------------------------*/

#solve {width: 100%}
